<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  <h1>Follow your progress!</h1>
  <h2>Keep training , Don't Give up.</h2>
  <agm-map
    [latitude]="currentCenter.lat"
    [longitude]="currentCenter.lng"
    [zoom]="defaultZoom"
  >
    <agm-marker
      iconUrl="assets/img/bicycle.png"
      [latitude]="currentCenter.lat"
      [longitude]="currentCenter.lng"
    ></agm-marker>

    <agm-polyline strokeColor="red">
      <agm-polyline-point
        *ngFor="let coords  of coordinates"
        [latitude]="coords.lat"
        [longitude]="coords.lng"
      >
      </agm-polyline-point>
    </agm-polyline>
  </agm-map>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let song of items; index as i">
      <ion-avatar> {{i+1}} </ion-avatar>
      <ion-label>
        <h2>{{song.name}}</h2>
        <p>{{song.popularity}}</p>
      </ion-label>
      <div>
        <!-- <ion-spinner *ngIf="song.playing" name="dots"></ion-spinner> -->

        <svg
          *ngIf="song.playing"
          id="equalizer"
          width="20px"
          height="18px"
          viewBox="0 0 10 7"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g fill="#000000">
            <rect
              id="bar1"
              transform="translate(0.500000, 6.000000) rotate(180.000000) translate(-0.500000, -6.000000) "
              x="0"
              y="5"
              width="1"
              height="2px"
            ></rect>
            <rect
              id="bar2"
              transform="translate(3.500000, 4.500000) rotate(180.000000) translate(-3.500000, -4.500000) "
              x="3"
              y="2"
              width="1"
              height="5"
            ></rect>
            <rect
              id="bar3"
              transform="translate(6.500000, 3.500000) rotate(180.000000) translate(-6.500000, -3.500000) "
              x="6"
              y="0"
              width="1"
              height="7"
            ></rect>
            <rect
              id="bar4"
              transform="translate(9.500000, 5.000000) rotate(180.000000) translate(-9.500000, -5.000000) "
              x="9"
              y="3"
              width="1"
              height="4"
            ></rect>
          </g>
        </svg>
      </div>
      <ion-buttons slot="end">
        <ion-button *ngIf="!song.playing" (click)="play(song)"
          ><ion-icon name="play"></ion-icon>
        </ion-button>
        <ion-button *ngIf="song.playing" (click)="stop(song)"
          ><ion-icon name="pause"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
