<ion-content class="container login-container" text-center>
  <h1>Welcome!</h1>
  <p>Log in and Be part of the new era.</p>
  <form [formGroup]="signInForm" class="form">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        formControlName="email"
        autocomplete="off"
        Type="text"
        placeholder="jonDoe@domain.com"
      ></ion-input>
    </ion-item>
    <small *ngIf="signInForm.controls.email.invalid">
      {{ getMessageform('email') }}
    </small>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        formControlName="password"
        autocomplete="off"
        Type="password"
      ></ion-input>
    </ion-item>
    <small *ngIf="signInForm.controls.password.invalid">
      {{ getMessageform('password') }}
    </small>
  </form>
  <div class="container-hz">
    <a routerLink="/home"> forgot password</a>
    <ion-button size="small" (click)="login()" class="form--btn"
      >Sign in</ion-button
    >
  </div>
</ion-content>
