ion-content {
  h1 {
    font-size: 2.8rem;
  }
}
ion-avatar {
  height: 120px;
  width: 90%;

  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
  }
  span {
    font-size: 1.2rem;
  }
  &.squared-avatar {
    --border-radius: 0;
  }
}
ion-footer {
  background: #fff;
  opacity: 1;
  max-height: 350px;
}
